---
http_interactions:
- request:
    method: get
    uri: https://api.test.datacite.org/reports/5cac6ca0-9391-4e1d-95cf-ba2f475cbfad
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE HTML SYSTEM \"about:legacy-compat\">\n<html><head><meta
        content=\"text/html; charset=UTF-8\" http-equiv=\"Content-Type\"/><meta content=\"IE=8\"
        http-equiv=\"X-UA-Compatible\"/><link href=\"/resources/dijit/themes/tundra/tundra.css;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        type=\"text/css\" rel=\"stylesheet\"></link><link href=\"/resources/styles/standard.css;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        media=\"screen\" type=\"text/css\" rel=\"stylesheet\"></link><link href=\"/resources/dojox/highlight/resources/pygments/emacs.css;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        rel=\"stylesheet\"></link><link href=\"/resources/images/favicon.png;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        type=\"image/png\" rel=\"SHORTCUT ICON\"/><script type=\"text/javascript\">var
        djConfig=\"en_US\"; </script><script type=\"text/javascript\" src=\"/resources/dojo/dojo.js;jsessionid=58855FB24518CC145509DAF6C1150DBA\"></script><script
        type=\"text/javascript\" src=\"/resources/spring/Spring.js;jsessionid=58855FB24518CC145509DAF6C1150DBA\"></script><script
        type=\"text/javascript\" src=\"/resources/spring/Spring-Dojo.js;jsessionid=58855FB24518CC145509DAF6C1150DBA\"></script><script
        type=\"text/javascript\" src=\"/resources/js/jquery-1.5.1.min.js;jsessionid=58855FB24518CC145509DAF6C1150DBA\"></script><script
        type=\"text/javascript\" language=\"JavaScript\">dojo.require(\"dojo.parser\");</script><title>Welcome
        to DataCite Metadata Store</title></head><body class=\"tundra spring\"><div
        id=\"wrapper\"><div version=\"2.0\" id=\"header\"><div id=\"title\"><a title=\"Home\"
        name=\"Home\" href=\"/;jsessionid=58855FB24518CC145509DAF6C1150DBA\"><img
        src=\"/resources/images/dc-logo.gif;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        width=\"100\"/>\n    Metadata Store    \n    </a></div><div id=\"topmenu\">You
        are not logged in | <span><a href=\"/login;jsessionid=58855FB24518CC145509DAF6C1150DBA\">Login</a></span></div><br
        style=\"clear:both\"/></div><div id=\"main\"><div version=\"2.0\"><script
        type=\"text/javascript\">dojo.require('dijit.TitlePane');</script><div id=\"_title_title_id\"><script
        type=\"text/javascript\">Spring.addDecoration(new Spring.ElementDecoration({elementId
        : '_title_title_id', widgetType : 'dijit.TitlePane', widgetAttrs : {title:
        'Requested Resource Not Found', open: true}})); </script><h2>Requested Resource
        Not Found</h2><p>Sorry, we did not find the resource you were looking for.</p></div></div><div
        version=\"2.0\" id=\"footer\"><span><a href=\"/;jsessionid=58855FB24518CC145509DAF6C1150DBA\">Home</a></span>
        | <span id=\"language\">Language: <a title=\"Switch language to English\"
        href=\"?lang=en\"><img alt=\"Switch language to English\" src=\"/resources/images/flags/en.png;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        class=\"flag\"/></a> <a title=\"Switch language to Deutsch\" href=\"?lang=de\"><img
        alt=\"Switch language to Deutsch\" src=\"/resources/images/flags/de.png;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        class=\"flag\"/></a> <a title=\"Switch language to French\" href=\"?lang=fr\"><img
        alt=\"Switch language to French\" src=\"/resources/images/flags/fr.png;jsessionid=58855FB24518CC145509DAF6C1150DBA\"
        class=\"flag\"/></a> </span> | <span><a href=\"/login;jsessionid=58855FB24518CC145509DAF6C1150DBA\">Login</a></span></div></div></div></body></html>"
  recorded_at: Fri, 10 Aug 2018 13:37:20 GMT
recorded_with: VCR 3.0.3
