---
http_interactions:
- request:
    method: get
    uri: https://metrics.test.datacite.org/reports/2018-3-DataONE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"4f2411eb13af4c17be452f00b66b9bc8"
    body:
      encoding: UTF-8
      string: '{"report":{"id":"2018-3-DataONE","report-header":{"report-name":"Dataset
        Master Report","report-id":"DSR","created-by":"DataONE","created":"2018-03-16"},"report-datasets":[{"uri":"https://search.DataONE.org/index.html#view/https://pasta.lternet.edu/package/metadata/eml/knb-lter-luq/88/559501","yop":2010,"creators":[{"type":"Name","value":"Jess
        Zimmerman"}],"platform":"DataONE","data-type":"Dataset","publisher":"LTER
        Network","dataset-id":[{"type":"DOI","value":"10.6073/pasta/aec48ca27decb1fd2c2f454f1c5f88e4"}],"performance":[{"period":{"end-date":"2018-03-31","begin-date":"2018-03-01"},"instance":[{"count":7,"country":"US","metric-type":"Total-Dataset-Investigations","access-method":"Regular"}]}],"publisher-id":"urn:node:LTER","dataset-title":"Phenologies
        of the Tabonuco Forest trees and shrubs.","publication-dates":"2010-03-22"}]}}'
  recorded_at: Mon, 07 May 2018 15:07:45 GMT
recorded_with: VCR 3.0.3
