---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202016-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:0000-0002-3546-1048&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":865},"response":{"numFound":68,"start":0,"docs":[{"minted":"2015-04-08T14:05:30Z","updated":"2015-04-08T14:05:30Z","doi":"10.6084/M9.FIGSHARE.1371006","resourceTypeGeneral":"Image","nameIdentifier":["ORCID:0000-0002-3546-1048"]},{"minted":"2015-04-08T14:12:36Z","updated":"2015-04-08T14:12:36Z","doi":"10.6084/M9.FIGSHARE.1371005","resourceTypeGeneral":"Image","nameIdentifier":["ORCID:0000-0002-3546-1048"]},{"minted":"2015-04-08T23:41:41Z","updated":"2015-04-08T23:41:41Z","doi":"10.6084/M9.FIGSHARE.1371137","resourceTypeGeneral":"Image","nameIdentifier":["ORCID:0000-0002-3546-1048"]},{"minted":"2015-04-08T23:48:49Z","updated":"2015-04-08T23:48:49Z","doi":"10.6084/M9.FIGSHARE.1371138","resour[...]
