---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=doi:10.5438/6423&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1548},"response":{"numFound":1,"start":0,"docs":[{"minted":"2016-09-24T20:26:53Z","updated":"2017-02-06T14:24:31Z","doi":"10.5438/6423","relatedIdentifier":["HasPart:DOI:10.5281/ZENODO.30799","HasPart:DOI:10.5281/ZENODO.30800","HasPart:DOI:10.5281/ZENODO.31787","HasPart:DOI:10.5281/ZENODO.31932","HasPart:DOI:10.5281/ZENODO.31933","HasPart:DOI:10.5281/ZENODO.46761","HasPart:DOI:10.5281/ZENODO.48228","HasPart:DOI:10.5281/ZENODO.48705","HasPart:DOI:10.5281/ZENODO.58971","HasPart:DOI:10.5281/ZENODO.61176","HasPart:DOI:10.5281/zenodo.154592","HasPart:DOI:10.5281/zenodo.168043","HasPart:DOI:10.5281/zenodo.168181","HasPart:DOI:10.5281/zenodo.168184","HasPart:DOI:10.5281/zenodo.168187","HasPart:DOI:10.5281/zenodo.168188","HasPart:DOI:10.5281/zenodo.168190","HasPart:DOI:10.5281/zenodo.168202","HasPart:DOI:10.5281/zenodo.168213","HasPart:DOI:10.5281/zenodo.168214","HasPart:DOI:10.5438/BC11-CQW1","HasPart:DOI:10.5438/CJT2-T6DZ","HasPart:DOI:10.5438/W029-Y6W~","HasPart:DOI:10.5438/S8GF-0CK9","HasPart:DOI:10.6084/M9.FIGSHARE.4236428"],"resourceTypeGeneral":"Collection","nameIdentifier":["ORCID:0000-0001-5331-6592","ORCID:0000-0002-4259-9774","ORCID:0000-0002-8689-4935","ORCID:0000-0002-8099-7538","ORCID:0000-0002-9300-5278","ORCID:0000-0002-6137-2348","ORCID:0000-0003-2614-6676","ORCID:0000-0002-4695-7874","ORCID:0000-0003-0902-4386","ORCID:0000-0003-3096-6829","ORCID:0000-0003-3412-7192","ORCID:0000-0003-1419-2405","ORCID:0000-0003-3484-6875","ORCID:0000-0003-0183-6910","ORCID:0000-0001-5109-3700","ORCID:0000-0001-8771-7239","ORCID:0000-0001-6843-7960","ORCID:0000-0001-9623-2225","ORCID:0000-0002-1611-6935","ORCID:0000-0003-0762-2235","ORCID:0000-0002-9829-091X","ORCID:0000-0001-5952-7630","ORCID:0000-0001-5492-3212","ORCID:0000-0002-6133-2581"]}]}}

'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
