---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:10.3897/phytokeys.12.2849&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1806},"response":{"numFound":14223,"start":0,"docs":[{"minted":"2015-10-18T18:49:32Z","updated":"2015-10-18T18:49:32Z","doi":"10.15468/DL.MBSMUW","relatedIdentifier":["References:DOI:10.3897/phytokeys.12.2849"],"resourceTypeGeneral":"Dataset"},{"minted":"2016-08-05T12:41:36Z","updated":"2016-08-05T12:41:36Z","doi":"10.15468/DL.T9EWQ8","relatedIdentifier":["References:DOI:10.3897/phytokeys.12.2849"],"resourceTypeGeneral":"Dataset"},{"minted":"2016-03-09T13:37:41Z","updated":"2016-03-09T13:37:41Z","doi":"10.15468/DL.NPFSEV","relatedIdentifier":["References:DOI:10.3897/phytokeys.12.2849"],"resourceTypeGeneral":"Dataset"},{"minted":"2016-06-02T13:11:08Z","updated":"2016-06-02T13:11:08Z","doi":"10.15468/DL.YAMPOO","relatedIdenti[...]
