---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=stage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180517T135220Z
      X-Amz-Content-Sha256:
      - 5034a1b0b889e68da64b7a052e782d357595681cff3bfea21cac68581dec9836
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180517/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=53c832e348ee6b898f9749e14152b8ba815b69503256addbe25417603d4480f3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - e829c128-451a-51ea-8fa0-925fce4eec96
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>e829c128-451a-51ea-8fa0-925fce4eec96</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Thu, 17 May 2018 13:52:20 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=ApproximateNumberOfMessages&AttributeName.2=ApproximateNumberOfMessagesNotVisible&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Fstage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180517T135220Z
      X-Amz-Content-Sha256:
      - 96a6d2cb54f526d279e954a56182b68f10b0ee5e7a64bc951623176e816b2435
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180517/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=01a0e808b53e75cac7724de2bd4383f82732eadd556d7d501c3e4b85ee14c5c5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - fd273556-a753-5eb3-99bc-66212c070f0b
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>fd273556-a753-5eb3-99bc-66212c070f0b</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Thu, 17 May 2018 13:52:20 GMT
[...]
