---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=stage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180514T175451Z
      X-Amz-Content-Sha256:
      - 5034a1b0b889e68da64b7a052e782d357595681cff3bfea21cac68581dec9836
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180514/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8381b4ece1cafc0ad1714b1077e5a0a0b7f49155b2297c58f37749f5eef8b1e3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 4f0708f0-a816-55cf-b2b8-5b8367bd7394
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>4f0708f0-a816-55cf-b2b8-5b8367bd7394</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Mon, 14 May 2018 17:54:51 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=ApproximateNumberOfMessages&AttributeName.2=ApproximateNumberOfMessagesNotVisible&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Fstage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180514T175451Z
      X-Amz-Content-Sha256:
      - 96a6d2cb54f526d279e954a56182b68f10b0ee5e7a64bc951623176e816b2435
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180514/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=99dc8165eb3daca4760d6543c539a91103215cb12de19ffb4201593034ac5e95
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - b3ebe1cf-ce8f-5839-a771-b2bc0123345b
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>2</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>b3ebe1cf-ce8f-5839-a771-b2bc0123345b</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Mon, 14 May 2018 17:54:52 GMT
[...]
