---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=stage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180502T101006Z
      X-Amz-Content-Sha256:
      - 5034a1b0b889e68da64b7a052e782d357595681cff3bfea21cac68581dec9836
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180502/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=c5216a0c36794d8f9018a908419c4f9a183e3762e56e2fba00dcc964926f120f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - f1251a98-861d-518f-9ca3-49fb16a39ab6
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>f1251a98-861d-518f-9ca3-49fb16a39ab6</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Wed, 02 May 2018 10:10:06 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=ApproximateNumberOfMessages&AttributeName.2=ApproximateNumberOfMessagesNotVisible&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Fstage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180502T101006Z
      X-Amz-Content-Sha256:
      - 96a6d2cb54f526d279e954a56182b68f10b0ee5e7a64bc951623176e816b2435
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180502/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=b5f651045c608d07e2dcee87e28f71f799fc7f2a6e3099aaeea603d8c1235806
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - b82d8099-db6e-5e5f-913e-d3fa4bd050a6
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>b82d8099-db6e-5e5f-913e-d3fa4bd050a6</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Wed, 02 May 2018 10:10:06 GMT
recorded_with: VCR 3.0.3
