---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"2d33bfdf34ccb1bfea6ae7d2cd01cb9b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5061","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2010-01-01T00:00:00.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"dryad.dryad","type":"clients"}]},"providers":{"data":[{"id":"dryad","type":"providers"}]}}},"included":[{"id":"dryad.dryad","type":"clients","attributes":{"name":"DRYAD","symbol":"DRYAD.DRYAD","year":2018,"contact-name":"Dryad
        Administrator","contact-email":"admin@datadryad.org","domains":"*","url":null,"is-active":true,"has-password":true,"created":"2018-04-24T20:59:15Z","updated":"2018-08-10T02:36:18Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"dryad","type":"providers","attributes":{"name":"Dryad","symbol":"DRYAD","website":null,"contact-name":"Elizabeth
        Hull","contact-email":"ehull@datadryad.org","phone":null,"description":null,"country":"US","logo-url":"https://assets.datacite.org/images/members/dryad.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2017-12-30","created":"2018-02-08T23:35:26.000Z","updated":"2018-08-10T02:25:53.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Fri, 10 Aug 2018 13:40:04 GMT
recorded_with: VCR 3.0.3
