---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1eb3f4f371821b1becc6cd25a71755ce"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9999'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5061","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:07Z"}}}'
  recorded_at: Fri, 10 Mar 2017 21:33:42 GMT
recorded_with: VCR 3.0.3
