---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:0000-0002-3546-1048&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":68,"start":0,"docs":[]}}

'
  recorded_at: Sat, 11 Mar 2017 10:47:29 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:0000-0002-3546-1048&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":68,"start":0,"docs":[{"minted":"2016-01-19T18:33:51Z","updated":"2016-01-19T18:33:51Z","doi":"10.6084/M9.FIGSHARE.1371005.V1","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Image"},{"minted":"2016-01-19T18:33:51Z","updated":"2016-01-19T18:33:51Z","doi":"10.6084/M9.FIGSHARE.1371005.V2","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Image"},{"minted":"2016-01-19T18:33:58Z","updated":"2016-01-19T18:33:58Z","doi":"10.6084/M9.FIGSHARE.1371006.V1","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Image"},{"minted":"2016-01-19T18:33:58Z","updated":"2016-01-19T18:33:58Z","doi":"10.6084/M9.FIGSHARE.1371006.V2","nameIdentifier":["O[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1371005.V1","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f7d55d19-7182-4bd3-8e1e-1647b29ab577","type":"claims","attributes":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1371005.V1","source-id":"orcid_update","state":"waiting","claim-action":"create","claimed-at":null}}}'
  recorded_at: Sat, 11 Mar 2017 10:47:30 GMT
[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1014352","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"823a69de-f1d7-4fd1-8b7b-42cea5ad3b60","type":"claims","attributes":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1014352","source-id":"orcid_update","state":"waiting","claim-action":"create","claimed-at":null}}}'
  recorded_at: Sat, 11 Mar 2017 10:47:46 GMT
recorded_with: VCR 3.0.3
