---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":55,"start":0,"docs":[]}}

'
  recorded_at: Fri, 10 Aug 2018 16:24:01 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":55,"start":0,"docs":[{"minted":"2015-04-08T08:54:57Z","updated":"2015-04-08T08:54:57Z","doi":"10.5284/1030449","resourceTypeGeneral":"Dataset","nameIdentifier":["ORCID:0000-0003-3938-899X","ORCID:0000-0002-2725-6730"]},{"minted":"2015-04-07T03:09:59Z","updated":"2015-04-07T03:09:59Z","doi":"10.6084/M9.FIGSHARE.1368269","resourceTypeGeneral":"Dataset","nameIdentifier":["ORCID:0000-0002-4000-4167"]},{"minted":"2015-04-07T03:22:11Z","updated":"2015-04-07T03:22:11Z","doi":"10.6084/M9.FIGSHARE.1368484","resourceTypeGeneral":"Image","nameIdentifier":["ORCID:0000-0001-6176-2816"]},{"minted":"2015-04-07T04:17:39Z","updated":"2015-04-07T04:17:39Z","doi":"10.608[...]
- request:
    method: post
    uri: "<SLACK_WEBHOOK_URL>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22username%22%3A%22Event+Data+Agent%22%2C%22icon_url%22%3A%22https%3A%2F%2Fraw.githubusercontent.com%2Fdatacite%2Ftoccatore%2Fmaster%2Flib%2Ftoccatore%2Fimages%2Ftoccatore.png%22%2C%22attachments%22%3A%5B%7B%22title%22%3A%22Report+for+orcid_update%22%2C%22text%22%3A%2255+works+processed+with+55+errors+for+date+range+2015-04-07+-+2015-04-08.%22%2C%22color%22%3A%22good%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-p5wu
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Fri, 10 Aug 2018 16:24:01 GMT
recorded_with: VCR 3.0.3
