---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:0000-0002-3546-1048&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":68,"start":0,"docs":[]}}

'
  recorded_at: Wed, 29 Mar 2017 13:23:06 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:0000-0002-3546-1048&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":68,"start":0,"docs":[{"minted":"2016-01-19T18:33:51Z","updated":"2016-01-19T18:33:51Z","doi":"10.6084/M9.FIGSHARE.1371005.V1","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Image"},{"minted":"2016-01-19T18:33:51Z","updated":"2016-01-19T18:33:51Z","doi":"10.6084/M9.FIGSHARE.1371005.V2","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Image"},{"minted":"2016-01-19T18:33:58Z","updated":"2016-01-19T18:33:58Z","doi":"10.6084/M9.FIGSHARE.1371006.V1","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Image"},{"minted":"2016-01-19T18:33:58Z","updated":"2016-01-19T18:33:58Z","doi":"10.6084/M9.FIGSHARE.1371006.V2","nameIdentifier":["O[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1371005.V1","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f7d55d19-7182-4bd3-8e1e-1647b29ab577","type":"claims","attributes":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1371005.V1","source-id":"orcid_update","state":"waiting","claim-action":"create","claimed-at":null}}}'
  recorded_at: Wed, 29 Mar 2017 13:23:07 GMT
[...]
- request:
    method: post
    uri: "<SLACK_WEBHOOK_URL>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22username%22%3A%22Event+Data+Agent%22%2C%22icon_url%22%3A%22https%3A%2F%2Fraw.githubusercontent.com%2Fdatacite%2Ftoccatore%2Fmaster%2Flib%2Ftoccatore%2Fimages%2Ftoccatore.png%22%2C%22attachments%22%3A%5B%7B%22title%22%3A%22Report+for+orcid_update%22%2C%22text%22%3A%2268+works+processed+for+date+range+2013-01-01+-+2017-12-31.%22%2C%22color%22%3A%22good%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Backend:
      - h
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Wed, 29 Mar 2017 13:23:55 GMT
recorded_with: VCR 3.0.3
