---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":18},"response":{"numFound":55,"start":0,"docs":[]}}

'
  recorded_at: Tue, 04 Jul 2017 17:51:28 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":18},"response":{"numFound":55,"start":0,"docs":[{"minted":"2015-04-08T08:54:57Z","updated":"2015-04-08T08:54:57Z","doi":"10.5284/1030449","resourceTypeGeneral":"Dataset","nameIdentifier":["ORCID:0000-0003-3938-899X","ORCID:0000-0002-2725-6730"]},{"minted":"2013-05-28T23:17:58Z","updated":"2015-04-07T11:44:34Z","doi":"10.6084/M9.FIGSHARE.707350","resourceTypeGeneral":"Dataset","nameIdentifier":["ORCID:0000-0001-9964-6984"]},{"minted":"2013-05-28T23:19:24Z","updated":"2015-04-07T11:44:34Z","doi":"10.6084/M9.FIGSHARE.707351","resourceTypeGeneral":"Dataset","nameIdentifier":["ORCID:0000-0001-9964-6984"]},{"minted":"2013-07-01T02:46:44Z","updated":"2015-04-08T13:56:29Z","doi":"10.608[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0003-3938-899X","doi":"10.5284/1030449","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"73ec7b27-4205-476e-b563-221eab2731d3","type":"claims","attributes":{"orcid":"0000-0003-3938-899X","doi":"10.5284/1030449","source-id":"orcid_update","state":"done","claim-action":"create","claimed-at":"2016-02-28T16:50:23Z"}}}'
  recorded_at: Tue, 04 Jul 2017 17:51:29 GMT
[...]
- request:
    method: post
    uri: "<SLACK_WEBHOOK_URL>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22username%22%3A%22Event+Data+Agent%22%2C%22icon_url%22%3A%22https%3A%2F%2Fraw.githubusercontent.com%2Fdatacite%2Ftoccatore%2Fmaster%2Flib%2Ftoccatore%2Fimages%2Ftoccatore.png%22%2C%22attachments%22%3A%5B%7B%22title%22%3A%22Report+for+orcid_update%22%2C%22text%22%3A%2255+works+processed+with+0+errors+for+date+range+2015-04-07+-+2015-04-08.%22%2C%22color%22%3A%22good%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Backend:
      - h
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Tue, 04 Jul 2017 17:51:44 GMT
recorded_with: VCR 3.0.3
