---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":48},"response":{"numFound":55,"start":0,"docs":[]}}

'
  recorded_at: Sat, 11 Mar 2017 10:47:08 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":22},"response":{"numFound":55,"start":0,"docs":[{"minted":"2014-06-02T01:33:35Z","updated":"2015-04-08T13:56:40Z","doi":"10.6084/M9.FIGSHARE.1041547","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Dataset"},{"minted":"2015-04-07T03:09:59Z","updated":"2015-04-07T03:09:59Z","doi":"10.6084/M9.FIGSHARE.1368269","nameIdentifier":["ORCID:0000-0002-4000-4167"],"resourceTypeGeneral":"Dataset"},{"minted":"2015-04-07T03:22:11Z","updated":"2015-04-07T03:22:11Z","doi":"10.6084/M9.FIGSHARE.1368484","nameIdentifier":["ORCID:0000-0001-6176-2816"],"resourceTypeGeneral":"Image"},{"minted":"2015-04-07T04:17:39Z","updated":"2015-04-07T04:17:39Z","doi":"10.6084/M9.FIGSHARE.1368488","nameIdentifier":["ORCID:[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1041547","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"27913db7-e2b1-47ea-a057-f15647402e26","type":"claims","attributes":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1041547","source-id":"orcid_update","state":"waiting","claim-action":"create","claimed-at":null}}}'
  recorded_at: Sat, 11 Mar 2017 10:47:09 GMT
[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-2725-6730","doi":"10.5284/1030449","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"0459f74f-d44a-47b4-94a1-df5be9de1438","type":"claims","attributes":{"orcid":"0000-0002-2725-6730","doi":"10.5284/1030449","source-id":"orcid_update","state":"done","claim-action":"create","claimed-at":"2015-07-27T03:52:30Z"}}}'
  recorded_at: Sat, 11 Mar 2017 10:47:22 GMT
recorded_with: VCR 3.0.3
