---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":55,"start":0,"docs":[]}}

'
  recorded_at: Sat, 11 Mar 2017 11:13:05 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=nameIdentifier:ORCID%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":55,"start":0,"docs":[{"minted":"2014-06-02T01:33:35Z","updated":"2015-04-08T13:56:40Z","doi":"10.6084/M9.FIGSHARE.1041547","nameIdentifier":["ORCID:0000-0002-3546-1048"],"resourceTypeGeneral":"Dataset"},{"minted":"2015-04-07T03:09:59Z","updated":"2015-04-07T03:09:59Z","doi":"10.6084/M9.FIGSHARE.1368269","nameIdentifier":["ORCID:0000-0002-4000-4167"],"resourceTypeGeneral":"Dataset"},{"minted":"2015-04-07T03:22:11Z","updated":"2015-04-07T03:22:11Z","doi":"10.6084/M9.FIGSHARE.1368484","nameIdentifier":["ORCID:0000-0001-6176-2816"],"resourceTypeGeneral":"Image"},{"minted":"2015-04-07T04:17:39Z","updated":"2015-04-07T04:17:39Z","doi":"10.6084/M9.FIGSHARE.1368488","nameIdentifier":["ORCID:[...]
