---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180504T140504Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180504/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=bf618ed76f5b696e05dc12226334018ac3a4e71cf47811441f9f541fe64a167c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - dba3b394-c928-549a-bddd-e0f2a3f867c1
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>dba3b394-c928-549a-bddd-e0f2a3f867c1</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Fri, 04 May 2018 14:05:04 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage
    body:
      encoding: UTF-8
      string: Action=GetQueueAttributes&AttributeName.1=ApproximateNumberOfMessages&AttributeName.2=ApproximateNumberOfMessagesNotVisible&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Ftest_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180504T140504Z
      X-Amz-Content-Sha256:
      - 4fa1f9790ab8d8b778fc048ef890ef00e82c1fd4658cd21964eff9eb5dc9426d
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180504/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=2f9fa3db6fcc643969f460fc10eca88855605694ed0fc25183b61f041a5e4086
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6856b751-ec00-53ee-9206-e43786d01890
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueAttributesResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>6856b751-ec00-53ee-9206-e43786d01890</RequestId></ResponseMetadata></GetQueueAttributesResponse>
  recorded_at: Fri, 04 May 2018 14:05:04 GMT
recorded_with: VCR 3.0.3
