---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:*&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":859},"response":{"numFound":640,"start":0,"docs":[]}}

'
  recorded_at: Fri, 10 Aug 2018 16:24:44 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2015-04-07T00:00:00Z%20TO%202015-04-08T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:*&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":652},"response":{"numFound":640,"start":0,"docs":[{"minted":"2015-04-07T17:24:05Z","updated":"2015-04-07T17:24:05Z","doi":"10.7480/KNOB.113.2014.3.830","resourceTypeGeneral":"Text","relatedIdentifier":["IsPartOf:DOI:10.7480/knob.113.2014.3"]},{"minted":"2015-04-07T17:24:05Z","updated":"2015-04-07T17:24:05Z","doi":"10.7480/KNOB.113.2014.3.846","resourceTypeGeneral":"Text","relatedIdentifier":["IsPartOf:DOI:10.7480/knob.113.2014.3"]},{"minted":"2015-04-07T17:24:06Z","updated":"2015-04-07T17:24:06Z","doi":"10.7480/KNOB.113.2014.3.847","resourceTypeGeneral":"Text","relatedIdentifier":["IsPartOf:DOI:10.7480/knob.113.2014.3"]},{"minted":"2015-04-07T17:24:07Z","updated":"2015-04-07T17:24:07Z","doi":[...]
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.7480
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"c385a1012db3ba38c1747efaec3cbeb1"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.7480","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2012-04-20T05:30:10.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"delft.tudarch","type":"clients"}]},"providers":{"data":[{"id":"delft","type":"providers"}]}}},"included":[{"id":"delft.tudarch","type":"clients","attributes":{"name":"TU
        Delft Architecture","symbol":"DELFT.TUDARCH","year":2012,"contact-name":"Frank
        van der Hoeven","contact-email":"F.D.vanderHoeven@tudelft.nl","domains":"*","url":null,"is-active":true,"has-password":true,"created":"2012-04-26T07:02:36Z","updated":"2018-08-10T02:35:18Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"delft","type":"providers","attributes":{"name":"TU
        Delft Library","symbol":"DELFT","website":"http://www.library.tudelft.nl/en","contact-name":"Madeleine
        de Smaele","contact-email":"m.m.e.desmaele@tudelft.nl","phone":"+31 15 27
        85678","description":"The TU Delft Library is the hub of knowledge for technical
        and scientific information and the largest technical-scientific library in
        the Netherlands. We support research and education at the national level and
        are part of the Delft University of Technology. TU Delft Library is a founding
        member of DataCite and a regional office for the Netherlands.\n\nTU Delft
        Library has established DataCite Netherlands to serve as a central research
        dataset registration service that will enable Dutch research organizations
        to register research datasets and assign digital object identifiers (DOIs)
        to them. Our aim is to support researchers by improving access to research
        data and to increase acceptance of the research data as legitimate, citable
        contributions to scientific record through trustworthy registration and identification
        of datasets. The current focus of DataCite Netherlands is on promoting the
        use of digital object identifiers for datasets.","country":"NL","logo-url":"https://assets.datacite.org/images/members/delft.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2009-12-01","created":"2010-01-01T00:00:00.000Z","updated":"2018-08-10T02:25:51.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Fri, 10 Aug 2018 16:24:45 GMT
[...]
- request:
    method: post
    uri: "<SLACK_WEBHOOK_URL>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22username%22%3A%22Event+Data+Agent%22%2C%22icon_url%22%3A%22https%3A%2F%2Fraw.githubusercontent.com%2Fdatacite%2Ftoccatore%2Fmaster%2Flib%2Ftoccatore%2Fimages%2Ftoccatore.png%22%2C%22attachments%22%3A%5B%7B%22title%22%3A%22Report+for+datacite_related%22%2C%22text%22%3A%22640+works+processed+with+640+errors+for+date+range+2015-04-07+-+2015-04-08.%22%2C%22color%22%3A%22good%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-csna
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Fri, 10 Aug 2018 16:24:47 GMT
recorded_with: VCR 3.0.3
