---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202018-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:10.7554/elife.01567&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":2316},"response":{"numFound":1,"start":0,"docs":[]}}

'
  recorded_at: Fri, 10 Aug 2018 18:38:39 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202018-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:10.7554/elife.01567&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"responseHeader":{"status":0,"QTime":1},"response":{"numFound":1,"start":0,"docs":[{"minted":"2014-01-23T19:20:48Z","updated":"2018-04-21T07:07:59Z","doi":"10.5061/DRYAD.B835K","resourceTypeGeneral":"Dataset","relatedIdentifier":["HasPart:DOI:10.5061/DRYAD.B835K/1","HasPart:DOI:10.5061/DRYAD.B835K/2","HasPart:DOI:10.5061/DRYAD.B835K/3","HasPart:DOI:10.5061/DRYAD.B835K/4","IsReferencedBy:DOI:10.7554/ELIFE.01567","IsSupplementTo:DOI:10.7554/ELIFE.01567","IsReferencedBy:PMID:24520159","IsSupplementTo:PMID:24520159"]}]}}

'
  recorded_at: Fri, 10 Aug 2018 18:38:39 GMT
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      X-Anonymous-Consumer:
      - 'true'
      Etag:
      - W/"2d33bfdf34ccb1bfea6ae7d2cd01cb9b"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"10.5061","type":"prefixes","attributes":{"registration-agency":"DataCite","created":"2010-01-01T00:00:00.000Z","updated":null},"relationships":{"clients":{"data":[{"id":"dryad.dryad","type":"clients"}]},"providers":{"data":[{"id":"dryad","type":"providers"}]}}},"included":[{"id":"dryad.dryad","type":"clients","attributes":{"name":"DRYAD","symbol":"DRYAD.DRYAD","year":2018,"contact-name":"Dryad
        Administrator","contact-email":"admin@datadryad.org","domains":"*","url":null,"is-active":true,"has-password":true,"created":"2018-04-24T20:59:15Z","updated":"2018-08-10T02:36:18Z"},"relationships":{"prefixes":{"meta":{}},"provider":{"meta":{}},"repository":{"meta":{}}}},{"id":"dryad","type":"providers","attributes":{"name":"Dryad","symbol":"DRYAD","website":null,"contact-name":"Elizabeth
        Hull","contact-email":"ehull@datadryad.org","phone":null,"description":null,"country":"US","logo-url":"https://assets.datacite.org/images/members/dryad.png","institution-type":null,"is-active":true,"has-password":true,"joined":"2017-12-30","created":"2018-02-08T23:35:26.000Z","updated":"2018-08-10T02:25:53.000Z"},"relationships":{"clients":{"meta":{}},"prefixes":{"meta":{}}}}]}'
  recorded_at: Fri, 10 Aug 2018 18:38:39 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"id":"cf0cba13-65f0-4f40-8566-934d9e139908","message_action":"create","subj_id":"https://doi.org/10.5061/dryad.b835k","obj_id":"https://doi.org/10.7554/elife.01567","relation_type_id":"is_referenced_by","source_id":"datacite","source_token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred_at":"2014-01-23T19:20:48Z","license":"https://creativecommons.org/publicdomain/zero/1.0/"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <EVENTDATA_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 10 Aug 2018 18:38:40 GMT
[...]
- request:
    method: post
    uri: "<SLACK_WEBHOOK_URL>"
    body:
      encoding: US-ASCII
      string: payload=%7B%22username%22%3A%22Event+Data+Agent%22%2C%22icon_url%22%3A%22https%3A%2F%2Fraw.githubusercontent.com%2Fdatacite%2Ftoccatore%2Fmaster%2Flib%2Ftoccatore%2Fimages%2Ftoccatore.png%22%2C%22attachments%22%3A%5B%7B%22title%22%3A%22Report+for+datacite_related%22%2C%22text%22%3A%221+works+processed+with+0+errors+for+date+range+2013-01-01+-+2018-12-31.%22%2C%22color%22%3A%22good%22%7D%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-94ks
    body:
      encoding: ASCII-8BIT
      string: ok
  recorded_at: Fri, 10 Aug 2018 18:38:40 GMT
recorded_with: VCR 3.0.3
