---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=doi:10.5438/CT8B-X1CE&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[]}}

'
  recorded_at: Sat, 11 Mar 2017 10:53:10 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=doi:10.5438/CT8B-X1CE&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"minted":"2016-12-23T10:35:28Z","updated":"2017-01-09T13:53:10Z","doi":"10.5438/CT8B-X1CE","resourceTypeGeneral":"Text","relatedIdentifier":["References:URL:https://arxiv.org/abs/1501.04916","References:DOI:10.3398/064.075.0213","References:DOI:10.1002/2015JE004895","References:DOI:10.1371/JOURNAL.PBIO.1001687","References:DOI:10.1016/J.JAS.2015.02.009","References:URL:http://hdl.handle.net/10536/DRO/DU:30088291","References:DOI:10.1016/J.AEOLIA.2015.08.001","References:DOI:10.1007/S12209-016-2596-Z","References:DOI:10.5194/ESURFD-2-1005-2014","References:DOI:10.1371/JOURNAL.PONE.0105948","References:URL:https://www.ncbi.nlm.nih.gov/books/NBK7256","References:DOI:10.1016/J.BPJ.2015.04.023","References:DOI:10.1002/ESP.3677","References:DOI:10.1016/J.AEOLIA.2016.01.003","References:DOI:10.4172/2381-8719.1000256","References:DOI:10.1371/JOURNAL.PONE.0134826","References:DOI:10.1016/J.TREE.2010.11.006","IsPartOf:DOI:10.5438/0000-00SS"],"nameIdentifier":["ORCID:0000-0003-1419-2405"]}]}}

'
  recorded_at: Sat, 11 Mar 2017 10:53:10 GMT
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.3398
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"7cf730cb403c033dba041619ed5a152f"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9913'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.3398","type":"prefixes","attributes":{"registration-agency":"Crossref","updated":"2016-09-21T21:02:24Z"}}}'
  recorded_at: Sat, 11 Mar 2017 10:53:11 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"id":"20d8204b-5bf9-4d18-8ec2-0179688b7bfa","message_action":"create","subj_id":"https://doi.org/10.5438/ct8b-x1ce","obj_id":"https://doi.org/10.3398/064.075.0213","relation_type_id":"references","source_id":"datacite","occurred_at":"2016-12-23T10:35:28Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EVENTDATA_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 11 Mar 2017 10:53:18 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"id":"88b8346f-099b-4ecf-917d-7811ef66377e","message_action":"create","subj_id":"https://doi.org/10.5438/ct8b-x1ce","obj_id":"https://doi.org/10.1016/j.tree.2010.11.006","relation_type_id":"references","source_id":"datacite","occurred_at":"2016-12-23T10:35:28Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EVENTDATA_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 11 Mar 2017 10:53:22 GMT
recorded_with: VCR 3.0.3
