---
http_interactions:
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:10.7554/elife.01567&rows=0&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[]}}

'
  recorded_at: Sat, 11 Mar 2017 10:53:22 GMT
- request:
    method: get
    uri: https://search.datacite.org/api?fl=doi,resourceTypeGeneral,relatedIdentifier,nameIdentifier,minted,updated&fq=updated:%5B2013-01-01T00:00:00Z%20TO%202017-12-31T23:59:59Z%5D%20AND%20has_metadata:true%20AND%20is_active:true&q=relatedIdentifier:DOI%5C:10.7554/elife.01567&rows=1000&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"status":0,"QTime":0},"response":{"numFound":1,"start":0,"docs":[{"minted":"2014-01-23T19:20:48Z","updated":"2017-02-05T18:24:05Z","doi":"10.5061/DRYAD.B835K","relatedIdentifier":["HasPart:DOI:10.5061/DRYAD.B835K/1","HasPart:DOI:10.5061/DRYAD.B835K/2","HasPart:DOI:10.5061/DRYAD.B835K/3","HasPart:DOI:10.5061/DRYAD.B835K/4","IsReferencedBy:DOI:10.7554/ELIFE.01567","IsReferencedBy:PMID:24520159"],"resourceTypeGeneral":"Dataset"}]}}

'
  recorded_at: Sat, 11 Mar 2017 10:53:22 GMT
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.5061
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"1eb3f4f371821b1becc6cd25a71755ce"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9905'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.5061","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:07Z"}}}'
  recorded_at: Sat, 11 Mar 2017 10:53:23 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"id":"9e2836f2-8d63-4474-9d4b-00969a19341d","message_action":"create","subj_id":"https://doi.org/10.5061/dryad.b835k","obj_id":"https://doi.org/10.7554/elife.01567","relation_type_id":"is_referenced_by","source_id":"datacite","occurred_at":"2014-01-23T19:20:48Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EVENTDATA_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 11 Mar 2017 10:53:24 GMT
recorded_with: VCR 3.0.3
