---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/798c4a47-e97f-4f17-ae7d-375bd365b6a5-31
    body:
      encoding: UTF-8
      string: '{"data":{"id":"798c4a47-e97f-4f17-ae7d-375bd365b6a5-31","type":"events","attributes":{"uuid":"798c4a47-e97f-4f17-ae7d-375bd365b6a5-31","message-action":"add","obj-id":"http://weinat.com/leatha_kuhic31","subj-id":"http://koepp.biz/vincent_johnson31","total":"386","subj":{"pid":"fdfdfd","issued":"2018-05-24T17:59:30.000+02:00"},"relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","source-token":"837b1f39-1000-484a-a572-63be0fc53579-31","occurred-at":"2018-05-23T01:48:02.000+02:00","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"dc7f66eff185ad62bf68200cdeb62ef7"
      X-Credential-Username:
      - 0000-0001-5489-3594
    body:
      encoding: UTF-8
      string: '{"data":{"id":"798c4a47-e97f-4f17-ae7d-375bd365b6a5-31","type":"events","attributes":{"subj-id":"http://koepp.biz/vincent_johnson31","obj-id":"http://weinat.com/leatha_kuhic31","message-action":"add","source-token":"837b1f39-1000-484a-a572-63be0fc53579-31","relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","total":386,"license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-05-22T23:48:02.000Z","timestamp":"2018-05-25T15:27:19Z","subj":{"pid":"fdfdfd","issued":"2018-05-24T17:59:30.000+02:00"},"obj":{}}}}'
  recorded_at: Fri, 25 May 2018 15:27:20 GMT
[...]
