---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/fc6860b8-4230-41bc-8b8e-21d60e9a7d9a
    body:
      encoding: UTF-8
      string: '{"data":{"id":"fc6860b8-4230-41bc-8b8e-21d60e9a7d9a","type":"events","attributes":{"uuid":"fc6860b8-4230-41bc-8b8e-21d60e9a7d9a","message-action":"create","subj-id":"https://api.test.datacite.org/reports/2018-3-Dashs","subj":{"pid":"https://api.test.datacite.org/reports/2018-3-Dashs","issued":"2128-04-09"},"total":3,"obj-id":"https://doi.org/10.7291/d1q94r","relation-type-id":"unique-dataset-investigations-regular","source-id":"datacite","source-token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred-at":"2128-04-09","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTINO_TOKEN>
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: ASCII-8BIT
      string: '{"status":500,"error":"Internal Server Error","exception":"#<CanCan::AccessDenied:
        You are not authorized to access this page.>","traces":{"Application Trace":[{"id":2,"trace":"app/controllers/events_controller.rb:30:in
        `update''"}],"Framework Trace":[{"id":0,"trace":"vendor/bundle/ruby/2.4.0/gems/cancancan-2.2.0/lib/cancan/ability.rb:176:in
        `authorize!''"},{"id":1,"trace":"vendor/bundle/ruby/2.4.0/gems/cancancan-2.2.0/lib/cancan/controller_additions.rb:336:in
        `authorize!''"},{"id":3,"trace":"vendor/bundle/ruby/2.4.0/gems/actionpack-5.2.0/lib/action_controller/metal/basic_implicit_render.rb:6:in
        `send_action''"},{"id":4,"trace":"vendor/[...]
