---
http_interactions:
- request:
    method: post
    uri: https://api.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a17e783b-8214-451e-9b0d-077213c2acae","type":"events","attributes":{"message-action":"add","subj-id":"https://metrics.test.datacite.org/reports/2018-3-Dash","subj":{"pid":"https://metrics.test.datacite.org/reports/2018-3-Dash","issued":"2128-04-09"},"total":3,"obj-id":"https://doi.org/10.7291/d1q94r","relation-type-id":"total-dataset-investigations-regular","source-id":"datacite","source-token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred-at":"2128-04-09","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"205daac1156d285daeb903afc6bcd156"
      X-Credential-Username:
      - 0000-0001-5489-3594
    body:
      encoding: UTF-8
      string: '{"data":{"id":"e7c02cf2-848b-4f19-bb58-80777dc74cef","type":"events","attributes":{"subj-id":"https://metrics.test.datacite.org/reports/2018-3-Dash","obj-id":"https://doi.org/10.7291/d1q94r","message-action":"add","source-token":"28276d12-b320-41ba-9272-bb0adc3466ff","relation-type-id":"total-dataset-investigations-regular","source-id":"datacite","total":3,"license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2128-04-09T00:00:00.000Z","timestamp":"2018-05-07T15:07:44Z","subj":{"pid":"https://metrics.test.datacite.org/reports/2018-3-Dash","issued":"2128-04-09"},"obj":{}}}}'
  recorded_at: Mon, 07 May 2018 15:07:44 GMT
[...]
