---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/918dd5ec-b4cb-4c3e-a4c7-d3fe0fd28c81-31
    body:
      encoding: UTF-8
      string: '{"data":{"id":"918dd5ec-b4cb-4c3e-a4c7-d3fe0fd28c81-31","type":"events","attributes":{"uuid":"918dd5ec-b4cb-4c3e-a4c7-d3fe0fd28c81-31","message-action":"add","obj-id":"http://dicki.biz/frank.stiedemann31","subj-id":"http://osinski.net/stephany_willms31","total":"174","subj":{"pid":"fdfdfd","issued":"2018-05-25T16:57:12.000+02:00"},"relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","source-token":"81afc923-d19d-4dc6-bc90-c45fd07cc13a-31","occurred-at":"2018-05-23T23:06:21.000+02:00","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"fef8b7d3db4bb37b42b940f5d4c803a4"
      X-Credential-Username:
      - 0000-0001-5489-3594
    body:
      encoding: UTF-8
      string: '{"data":{"id":"918dd5ec-b4cb-4c3e-a4c7-d3fe0fd28c81-31","type":"events","attributes":{"subj-id":"http://osinski.net/stephany_willms31","obj-id":"http://dicki.biz/frank.stiedemann31","message-action":"add","source-token":"81afc923-d19d-4dc6-bc90-c45fd07cc13a-31","relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","total":174,"license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-05-23T21:06:21.000Z","timestamp":"2018-05-25T15:22:46Z","subj":{"pid":"fdfdfd","issued":"2018-05-25T16:57:12.000+02:00"},"obj":{}}}}'
  recorded_at: Fri, 25 May 2018 15:22:47 GMT
[...]
