---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/d2bd6654-8ac3-49c6-9f83-07f06288ce2f-21
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d2bd6654-8ac3-49c6-9f83-07f06288ce2f-21","type":"events","attributes":{"uuid":"d2bd6654-8ac3-49c6-9f83-07f06288ce2f-21","message-action":"add","obj-id":"http://satterfield.name/pansy21","subj-id":"http://davisglover.info/josianne.macejkovic21","total":"936","subj":{"pid":"fdfdfd","issued":"2018-05-19T00:01:10.000+02:00"},"relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","source-token":"343969a6-8002-4f6c-a2bd-c1adc23af79e-21","occurred-at":"2018-05-20T18:18:08.000+02:00","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"3db667fec3de50661988b29c013f7b35"
      X-Credential-Username:
      - 0000-0001-5489-3594
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d2bd6654-8ac3-49c6-9f83-07f06288ce2f-21","type":"events","attributes":{"subj-id":"http://davisglover.info/josianne.macejkovic21","obj-id":"http://satterfield.name/pansy21","message-action":"add","source-token":"343969a6-8002-4f6c-a2bd-c1adc23af79e-21","relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","total":936,"license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-05-20T16:18:08.000Z","timestamp":"2018-05-21T11:38:01Z","subj":{"pid":"fdfdfd","issued":"2018-05-19T00:01:10.000+02:00"},"obj":{}}}}'
  recorded_at: Mon, 21 May 2018 11:38:01 GMT
[...]
