---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/20ce375e-2610-44d5-9755-293513617d18-1
    body:
      encoding: UTF-8
      string: '{"data":{"id":"20ce375e-2610-44d5-9755-293513617d18-1","type":"events","attributes":{"uuid":"20ce375e-2610-44d5-9755-293513617d18-1","message-action":"add","obj-id":"http://quigleyrunolfsdottir.net/amy_christiansen1","subj-id":"http://connellyokeefe.net/caden1","total":"298","subj":{"pid":"fdfdfd","issued":"2018-05-22T14:54:33.000+02:00"},"relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","source-token":"3d2677ee-3413-4567-bb27-f699c5451d62-1","occurred-at":"2018-05-24T10:32:28.000+02:00","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"d0c80e0e25d20a9c9ec91f11340ecbb7"
      X-Credential-Username:
      - 0000-0001-5489-3594
    body:
      encoding: UTF-8
      string: '{"data":{"id":"20ce375e-2610-44d5-9755-293513617d18-1","type":"events","attributes":{"subj-id":"http://connellyokeefe.net/caden1","obj-id":"http://quigleyrunolfsdottir.net/amy_christiansen1","message-action":"add","source-token":"3d2677ee-3413-4567-bb27-f699c5451d62-1","relation-type-id":"total-dataset-investigations-machine","source-id":"datacite-usage","total":298,"license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-05-24T08:32:28.000Z","timestamp":"2018-05-24T15:47:15Z","subj":{"pid":"fdfdfd","issued":"2018-05-22T14:54:33.000+02:00"},"obj":{}}}}'
  recorded_at: Thu, 24 May 2018 15:47:15 GMT
[...]
