---
http_interactions:
- request:
    method: put
    uri: https://api.test.datacite.org/events/f6f51593-6658-49bc-9323-bd84a8f9f256-21
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f6f51593-6658-49bc-9323-bd84a8f9f256-21","type":"events","attributes":{"uuid":"f6f51593-6658-49bc-9323-bd84a8f9f256-21","message-action":"add","obj-id":"http://auer.io/ewald.mann21","subj-id":"http://robel.net/al21","total":"801","subj":{"pid":"fdfdfd","issued":"2018-05-23T15:13:11.000+02:00"},"relation-type-id":"unique-dataset-investigations-machine","source-id":"datacite-usage","source-token":"d508ff9e-4de2-43d7-9503-9c4eba953fe7-21","occurred-at":"2018-05-25T00:37:55.000+02:00","license":"https://creativecommons.org/publicdomain/zero/1.0/"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 201 Created
      Etag:
      - W/"c22ce359b1b6a83960a2faa147db2274"
      X-Credential-Username:
      - 0000-0001-5489-3594
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f6f51593-6658-49bc-9323-bd84a8f9f256-21","type":"events","attributes":{"subj-id":"http://robel.net/al21","obj-id":"http://auer.io/ewald.mann21","message-action":"add","source-token":"d508ff9e-4de2-43d7-9503-9c4eba953fe7-21","relation-type-id":"unique-dataset-investigations-machine","source-id":"datacite-usage","total":801,"license":"https://creativecommons.org/publicdomain/zero/1.0/","occurred-at":"2018-05-24T22:37:55.000Z","timestamp":"2018-05-25T15:10:24Z","subj":{"pid":"fdfdfd","issued":"2018-05-23T15:13:11.000+02:00"},"obj":{}}}}'
  recorded_at: Fri, 25 May 2018 15:10:24 GMT
[...]
