---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=stage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180514T185137Z
      X-Amz-Content-Sha256:
      - 5034a1b0b889e68da64b7a052e782d357595681cff3bfea21cac68581dec9836
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180514/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8592aeed8250258cb00e69210edf28b53f691830405e606ed274f9205fabd945
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - a9e53b53-e0e7-5681-9aff-68203c1ef3ae
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>a9e53b53-e0e7-5681-9aff-68203c1ef3ae</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Mon, 14 May 2018 18:51:37 GMT
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=stage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180514T185137Z
      X-Amz-Content-Sha256:
      - 5034a1b0b889e68da64b7a052e782d357595681cff3bfea21cac68581dec9836
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180514/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8592aeed8250258cb00e69210edf28b53f691830405e606ed274f9205fabd945
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6f1e5148-3cc2-55e8-b5ab-023be03bccc3
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>6f1e5148-3cc2-55e8-b5ab-023be03bccc3</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Mon, 14 May 2018 18:51:37 GMT
recorded_with: VCR 3.0.3
