---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=test_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180525T092327Z
      X-Amz-Content-Sha256:
      - 5761efd13dd0ed81182207171d3660628968189941431d6044920ef8fe7b1160
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180525/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=8865828e82ec807f577b2a5cc1017c9f8dc3223b4df5776e724fccf0561c5927
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - bffeadd2-685a-5460-9fa9-fe53b0150974
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/test_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>bffeadd2-685a-5460-9fa9-fe53b0150974</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Fri, 25 May 2018 09:23:27 GMT
recorded_with: VCR 3.0.3
