---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.7480
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ff8456784c6e0dde2efda6fdfaa69bc7"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9993'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.7480","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:37Z"}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.14283
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8eed601a0861600c8eb16bf3dcd4def7"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9975'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.14283","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:24:19Z"}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
