---
http_interactions:
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetQueueUrl&QueueName=stage_usage&Version=2012-11-05
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180514T185135Z
      X-Amz-Content-Sha256:
      - 5034a1b0b889e68da64b7a052e782d357595681cff3bfea21cac68581dec9836
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180514/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=70f191e907302a8b516dabbb87898238e818404d08dd6b703d465e7d78ce9597
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - 6cb2ac20-8821-5b36-a596-ff5354d6b3bc
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>6cb2ac20-8821-5b36-a596-ff5354d6b3bc</RequestId></ResponseMetadata></GetQueueUrlResponse>
  recorded_at: Mon, 14 May 2018 18:51:35 GMT
[...]
- request:
    method: post
    uri: https://sqs.eu-west-1.amazonaws.com/404017989009/stage_usage
    body:
      encoding: UTF-8
      string: Action=ReceiveMessage&MaxNumberOfMessages=1&QueueUrl=https%3A%2F%2Fsqs.eu-west-1.amazonaws.com%2F404017989009%2Fstage_usage&Version=2012-11-05&WaitTimeSeconds=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20180514T185135Z
      X-Amz-Content-Sha256:
      - ecd9b7f04d6c20c2cc914ea59c9a1bebc41ac0351bdb4aabcde0c43a91351fb0
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIXLDUBIDM74CC6KQ/20180514/eu-west-1/sqs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=fcc4c780006c6a77cba338ae912088db2d2a4fe8d54c971b276cfeb70cff2d72
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Amzn-Requestid:
      - a4320691-6715-5143-bd6f-55e2bbe2f954
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><ReceiveMessageResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ReceiveMessageResult/><ResponseMetadata><RequestId>a4320691-6715-5143-bd6f-55e2bbe2f954</RequestId></ResponseMetadata></ReceiveMessageResponse>
  recorded_at: Mon, 14 May 2018 18:51:37 GMT
recorded_with: VCR 3.0.3
