---
http_interactions:
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0001-8478-7549","doi":"10.6084/M9.FIGSHARE.1226424","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"2705ee77-417f-4155-8633-94927a68ecf6","type":"claims","attributes":{"orcid":"0000-0001-8478-7549","doi":"10.6084/M9.FIGSHARE.1226424","source-id":"orcid_update","state":"waiting","claim-action":"create","claimed-at":null}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1008320","source_id":"orcid_update","claim_action":"create"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"fa61847e-92ff-4394-8b0f-4bdfb15beba8","type":"claims","attributes":{"orcid":"0000-0002-3546-1048","doi":"10.6084/M9.FIGSHARE.1008320","source-id":"orcid_update","state":"waiting","claim-action":"create","claimed-at":null}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
