---
http_interactions:
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0003-1013-1533","doi":"10.6084/M9.FIGSHARE.4126869.V1","source_id":"orcid_update","claim_action":"delete"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - Bearer <VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
      X-Credential-Username:
      - 0000-0002-8599-0773
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"a2d1c3ab-62af-469a-b830-fb51828f0237","type":"claims","attributes":{"orcid":"0000-0003-1013-1533","doi":"10.6084/M9.FIGSHARE.4126869.V1","source-id":"orcid_update","state":"waiting","claim-action":"delete","error-messages":[{"status":400,"title":"the
        server responded with status 403"}],"put-code":30054706,"claimed":"2017-02-03T05:37:34Z","created":"2017-02-03T05:37:34Z","updated":"2018-08-10T14:36:05Z"}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
