---
http_interactions:
- request:
    method: post
    uri: https://profiles.test.datacite.org/api/claims
    body:
      encoding: UTF-8
      string: '{"claim":{"orcid":"0000-0003-1013-1533","doi":"10.6084/M9.FIGSHARE.4126869.V1","source_id":"orcid_update","claim_action":"delete"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <VOLPINO_TOKEN>
  response:
    status:
      code: 202
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 202 Accepted
    body:
      encoding: UTF-8
      string: '{"data":{"id":"170547df-e1d9-4bff-92cb-4a497988b534","type":"claims","attributes":{"orcid":"0000-0003-1013-1533","doi":"10.6084/M9.FIGSHARE.4126869.V1","source-id":"orcid_update","state":"waiting","claim-action":"delete","claimed-at":null}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
