---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.7480
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ff8456784c6e0dde2efda6fdfaa69bc7"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9999'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.7480","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:37Z"}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: post
    uri: https://eventdata.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"id":"a070a67e-50c5-4f00-bf79-6f83c52e8b5d","type":"events","attributes":{"message_action":"create","subj_id":"https://doi.org/10.15468/dl.mb4das","obj_id":"https://doi.org/10.3897/phytokeys.12.2849","relation_type_id":"references","source_id":"datacite","source_token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred_at":"2015-04-07T04:27:37Z"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bdacc8acb78467ad71133d86aef90d86"
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"30abef9f-4b30-47c1-b8a0-6fa2929b6526","type":"events","attributes":{"state":"waiting","message-action":"create","source-token":"28276d12-b320-41ba-9272-bb0adc3466ff","callback":null,"subj-id":"https://doi.org/10.15468/dl.mb4das","obj-id":"https://doi.org/10.3897/phytokeys.12.2849","relation-type-id":"references","source-id":"datacite","total":1,"occurred-at":"2015-04-07T04:27:37Z","subj":{},"obj":{}}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: post
    uri: https://eventdata.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8aaa1ae8-590e-4dcb-b854-3975052a36b2","type":"events","attributes":{"message_action":"create","subj_id":"https://doi.org/10.15468/dl.edxrbs","obj_id":"https://doi.org/10.3897/phytokeys.12.2849","relation_type_id":"references","source_id":"datacite","source_token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred_at":"2015-04-08T05:06:04Z"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: '{"status":"500","error":"Internal Server Error"}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: post
    uri: https://eventdata.test.datacite.org/events
    body:
      encoding: UTF-8
      string: '{"data":{"id":"515edacb-2a6a-47d3-bda0-ea409eba3601","type":"events","attributes":{"message_action":"create","subj_id":"https://doi.org/10.17180/obs.yzeron","obj_id":"https://doi.org/10.1016/j.jhydrol.2013.09.055","relation_type_id":"is_referenced_by","source_id":"datacite","source_token":"28276d12-b320-41ba-9272-bb0adc3466ff","occurred_at":"2015-04-07T12:22:40Z"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=<LAGOTTO_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cd15dcbe29d9f3739dd10396e672446"
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8e13084e-178b-411b-8f08-7fba7daf89fc","type":"events","attributes":{"state":"waiting","message-action":"create","source-token":"28276d12-b320-41ba-9272-bb0adc3466ff","callback":null,"subj-id":"https://doi.org/10.17180/obs.yzeron","obj-id":"https://doi.org/10.1016/j.jhydrol.2013.09.055","relation-type-id":"is_referenced_by","source-id":"datacite","total":1,"occurred-at":"2015-04-07T12:22:40Z","subj":{},"obj":{}}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
