---
http_interactions:
- request:
    method: get
    uri: https://api.datacite.org/prefixes/10.7480
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"ff8456784c6e0dde2efda6fdfaa69bc7"
      Status:
      - 200 OK
      X-Ratelimit-Limit-Hour:
      - '10000'
      X-Ratelimit-Remaining-Hour:
      - '9951'
    body:
      encoding: UTF-8
      string: '{"data":{"id":"10.7480","type":"prefixes","attributes":{"registration-agency":"DataCite","updated":"2016-09-21T20:27:37Z"}}}'
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"id":"9334057e-3a12-4dad-b2a6-597fe4671e65","message_action":"create","subj_id":"https://doi.org/10.15468/dl.mb4das","obj_id":"https://doi.org/10.3897/phytokeys.12.2849","relation_type_id":"references","source_id":"datacite","occurred_at":"2015-04-07T04:27:37Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EVENTDATA_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
[...]
- request:
    method: post
    uri: https://bus-staging.eventdata.crossref.org/events
    body:
      encoding: UTF-8
      string: '{"id":"130593d2-8c42-4907-9e03-8c8aaf293c72","message_action":"create","subj_id":"https://doi.org/10.17180/obs.yzeron","obj_id":"https://doi.org/10.1016/j.jhydrol.2013.09.055","relation_type_id":"is_referenced_by","source_id":"datacite","occurred_at":"2015-04-07T12:22:40Z"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <EVENTDATA_TOKEN>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Apr 2015 22:00:00 GMT
recorded_with: VCR 3.0.3
